<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Descripción" content="Trtamientos Faciales y Corporales,Masajes,Depilación y Productos para la estetica">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/tienda.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>Adara</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../Img/logo.jpeg" alt="">
         </div>
        <label for="btn-nav" id="btn-label" class="fas fa-bars"></label>
        <input type="checkbox" name="btn-nav" id="btn-nav">
        <div class="navegacion">
            <nav>
                <ul class="menu">
                    <li><a href="../index.html">Inicio</a></li>

                    <li>
                        <label for="act-submenu"><a>Tratamientos<i class="fas fa-caret-down"></i></a></label>
                        <input type="checkbox" name="act-submenu" id="act-submenu" style="display: none;">
                        <ul class="sub-menu">
                            <li><a href="../Views/corporal.html">Corporales</a></li>
                            <li><a href="../Views/facial.html">Faciales</a></li>
                            <li><a href="../Views/masajes.html">Masajes</a></li>
                        </ul>
                    </li>

                    <li><a href="../Views/depilacion.html">Depilacion</a></li>

                    <li><a href="../Views/tienda.html">Tienda <i class="fas fa-shopping-bag"></i></a></li>

                    <li><a href="../index.html#contacto">Contacto</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <div class="tienda_encabezado">
        <h2>Tienda</h2>
    </div>

    <!-- <div class="tienda__filtrar">
        <div class="tienda__filtrar__titulo">
            <h3>Filtrar</h3>
        </div>
        <div class="tienda__filtrar_check">
            <label for=""></label>
            <input type="checkbox">
        </div>
    </div> -->
    <div class="tienda">
        <div class="tienda__card">
            <div class="tienda__card__img">
                <img src="../Img/tienda/49878.jpg" alt="">
            </div>
            <div class="tienda__card__cuerpo">
                <h4>Spray humectante</h4>
                <p>Super antioxidante que ayuda a prevenir el envejecimiento prematuro por exposición a los espectros de luz visible e infrarroja.
                </p>
                <p>Precio: <span class="tienda__negrita">$350,00</span></p>
            </div>
            <div class="tienda__card__footer">
                <button type="submit">Agregar al Carrito</button>
            </div>
        </div>

        <div class="tienda__card">
            <div class="tienda__card__img">
                <img src="../Img/tienda/71h1S8hQtiL._AC_SX425_.jpg" alt="">
            </div>
            <div class="tienda__card__cuerpo">
                <h4>Macarilla Puntos Negros</h4>
                <p>Elimina puntos negros</p>
                <p>Precio: <span class="tienda__negrita">$400,00</span></p>
            </div>
            <div class="tienda__card__footer">
                <button type="submit">Agregar al Carrito</button>
            </div>
        </div>

        <div class="tienda__card">
            <div class="tienda__card__img">
                <img src="../Img/tienda/crema.jpg" alt="">
            </div>
            <div class="tienda__card__cuerpo">
                <h4>Crema Anti-Age</h4>
                <p>Minimiza las líneas de expresión, Aportando una Alta Capacidad de Hidratación</p>
                <p>Precio: <span class="tienda__negrita">$850,00</span></p>
            </div>
            <div class="tienda__card__footer">
                <button type="submit">Agregar al Carrito</button>
            </div>
        </div>
        
    </div>
    <footer class="pie">
        <p class="pie__parrafo">Copyright © Alejo Cecco</p>
    </footer>
</body>
</html>